# Cleaning Team Data

Data on each team will be prepared for future analysis.

First of all the raw .csv data is read in.

In [1]:
import os
import pandas as pd
import pickle

In [2]:
os.chdir('../data')

In [3]:
os.getcwd()

'C:\\Users\\phili\\FantasyPL\\data'

In [4]:
os.listdir()

['.ipynb_checkpoints', 'clean', 'raw']

In [5]:
data20_21 = 'raw/20_21/teams.csv'
data21_22 = 'raw/21_22/teams.csv'

In [6]:
teams20_21_df = pd.read_csv(data20_21)
teams21_22_df = pd.read_csv(data21_22)

Unneccessary and empty columns are removed.

In [41]:
teams20_21_df = teams20_21_df.drop(["draw", "form", "loss","played","points","position","team_division","unavailable","win"],axis=1).set_index('id', drop=False)
teams21_22_df = teams21_22_df.drop(["draw", "form", "loss","played","points","position","team_division","unavailable","win"], axis=1).set_index('id', drop=False)

In [42]:
teams20_21_df

,code,id,name,short_name,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
id,,,,,,,,,,,,
1,3,1,Arsenal,ARS,4,1200,1250,1130,1150,1220,1210,1
2,7,2,Aston Villa,AVL,3,1100,1160,1120,1140,1080,1100,2
3,36,3,Brighton,BHA,3,1130,1130,1150,1190,1100,1130,131
4,90,4,Burnley,BUR,2,1060,1070,1040,1090,1040,1080,43
5,8,5,Chelsea,CHE,4,1250,1280,1260,1300,1250,1310,4
6,31,6,Crystal Palace,CRY,3,1090,1110,1030,1120,1010,1020,6
7,11,7,Everton,EVE,3,1250,1130,1130,1100,1200,1140,7
8,54,8,Fulham,FUL,3,1090,1100,1150,1110,1040,1060,34
9,13,9,Leicester,LEI,4,1240,1260,1190,1150,1150,1230,26
10,2,10,Leeds,LEE,3,1160,1170,1060,1150,1210,1170,9
11,14,11,Liverpool,LIV,4,1250,1210,1190,1210,1300,1230,10
12,43,12,Man City,MCI,5,1340,1360,1280,1320,1340,1350,11
13,1,13,Man Utd,MUN,4,1250,1320,1250,1280,1240,1310,12
14,4,14,Newcastle,NEW,2,1050,1070,1050,1060,1030,1110,23
15,49,15,Sheffield Utd,SHU,2,1000,1040,1020,1070,1000,1010,18
16,20,16,Southampton,SOU,3,1060,1100,1030,1110,1110,1160,20
17,6,17,Spurs,TOT,4,1190,1250,1130,1170,1250,1290,21
18,35,18,West Brom,WBA,2,1050,1040,1040,1000,1050,1040,36
19,21,19,West Ham,WHU,4,1230,1260,1140,1190,1260,1290,25
20,39,20,Wolves,WOL,3,1080,1110,1120,1130,1040,1120,38

In [43]:
teams21_22_df

,code,id,name,short_name,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
id,,,,,,,,,,,,
1,3,1,Arsenal,ARS,4,1210,1270,1150,1210,1190,1220,1
2,7,2,Aston Villa,AVL,3,1130,1160,1140,1110,1090,1090,2
3,94,3,Brentford,BRE,2,1060,1070,1120,1150,1080,1120,130
4,36,4,Brighton,BHA,3,1130,1130,1160,1160,1100,1120,131
5,90,5,Burnley,BUR,2,1060,1050,1080,1130,1060,1100,43
6,8,6,Chelsea,CHE,5,1320,1350,1300,1300,1250,1290,4
7,31,7,Crystal Palace,CRY,3,1090,1100,1110,1160,1080,1160,6
8,11,8,Everton,EVE,3,1090,1090,1130,1090,1110,1110,7
9,13,9,Leicester,LEI,3,1160,1190,1100,1080,1150,1160,26
10,2,10,Leeds,LEE,3,1090,1100,1080,1070,1100,1100,9
11,14,11,Liverpool,LIV,5,1330,1350,1300,1350,1340,1350,10
12,43,12,Man City,MCI,5,1350,1370,1340,1360,1340,1360,11
13,1,13,Man Utd,MUN,4,1210,1270,1170,1190,1190,1200,12
14,4,14,Newcastle,NEW,3,1090,1070,1050,1030,1040,1070,23
15,45,15,Norwich,NOR,2,1010,1030,1040,1040,1040,1030,14
16,20,16,Southampton,SOU,3,1090,1100,1090,1140,1120,1090,20
17,6,17,Spurs,TOT,4,1210,1270,1190,1200,1210,1210,21
18,57,18,Watford,WAT,2,1050,1050,1090,1040,1120,1070,33
19,21,19,West Ham,WHU,4,1200,1200,1110,1150,1160,1180,25
20,39,20,Wolves,WOL,4,1200,1220,1150,1160,1080,1100,38

In [44]:
file = open("./clean/20_21/teams20_21.pkl", "wb")
pickle.dump(teams20_21_df, file)
file.close()

In [45]:
file = open("./clean/21_22/teams21_22.pkl", "wb")
pickle.dump(teams21_22_df, file)
file.close()