# Cleaning Fixture Data

Data on each fixture will be prepared for future analysis.

First of all the raw .csv data is read in.

In [58]:
import os
import pandas as pd
import pickle
import numpy as np

In [59]:
os.chdir('../data')

In [60]:
os.getcwd()

'C:\\Users\\phili\\FantasyPL\\data'

In [61]:
os.listdir()

['.ipynb_checkpoints', 'clean', 'raw']

In [62]:
data20_21 = 'raw/20_21/fixtures.csv'
data21_22 = 'raw/21_22/fixtures.csv'

In [63]:
fixtures20_21_df = pd.read_csv(data20_21, parse_dates = True)
fixtures21_22_df = pd.read_csv(data21_22, parse_dates = True)

In [64]:
fixtures20_21_df

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,True,1,3,8,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,58898
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,True,16,0,6,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,58897
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,True,10,3,11,4,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,58899
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,True,14,2,19,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,58903
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,True,9,3,18,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,58902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2128661,38,True,True,374,2021-05-23T15:00:00Z,90,False,True,6,0,11,2,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,59271
376,2128662,38,True,True,375,2021-05-23T15:00:00Z,90,False,True,7,0,12,5,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,5,59272
377,2128663,38,True,True,376,2021-05-23T15:00:00Z,90,False,True,4,0,15,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,59273
378,2128664,38,True,True,377,2021-05-23T15:00:00Z,90,False,True,16,0,19,3,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,59274
379,2128665,38,True,True,378,2021-05-23T15:00:00Z,90,False,True,13,2,20,1,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3,59275

In [65]:
fixtures20_21_df = fixtures20_21_df.drop(["finished_provisional", "provisional_start_time", "started","pulse_id","team_h_difficulty","team_a_difficulty","code"], axis=1).set_index('id', drop=False)
fixtures21_22_df = fixtures21_22_df.drop(["finished_provisional", "provisional_start_time", "started","pulse_id","team_h_difficulty","team_a_difficulty","code"], axis=1).set_index('id', drop=False)

In [66]:
fixtures20_21_df

,event,finished,id,kickoff_time,minutes,team_a,team_a_score,team_h,team_h_score,stats
id,,,,,,,,,,
2,1,True,2,2020-09-12T11:30:00Z,90,1,3,8,0,"[{'identifier': 'goals_scored', 'a': [{'value'..."
1,1,True,1,2020-09-12T14:00:00Z,90,16,0,6,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
3,1,True,3,2020-09-12T16:30:00Z,90,10,3,11,4,"[{'identifier': 'goals_scored', 'a': [{'value'..."
6,1,True,6,2020-09-12T19:00:00Z,90,14,2,19,0,"[{'identifier': 'goals_scored', 'a': [{'value'..."
5,1,True,5,2020-09-13T13:00:00Z,90,9,3,18,0,"[{'identifier': 'goals_scored', 'a': [{'value'..."
...,...,...,...,...,...,...,...,...,...,...
374,38,True,374,2021-05-23T15:00:00Z,90,6,0,11,2,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
375,38,True,375,2021-05-23T15:00:00Z,90,7,0,12,5,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
376,38,True,376,2021-05-23T15:00:00Z,90,4,0,15,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
377,38,True,377,2021-05-23T15:00:00Z,90,16,0,19,3,"[{'identifier': 'goals_scored', 'a': [], 'h': ..."
378,38,True,378,2021-05-23T15:00:00Z,90,13,2,20,1,"[{'identifier': 'goals_scored', 'a': [{'value'..."

In [67]:
file = open("./clean/20_21/fixtures20_21.pkl", "wb")
pickle.dump(fixtures20_21_df, file)
file.close()

In [68]:
file = open("./clean/21_22/fixtures21_22.pkl", "wb")
pickle.dump(fixtures21_22_df, file)
file.close()